:root {
  --base-font-family: Arial, Helvetica, sans-serif;
}

.app {
  display: flex;
}

.navigation {
  width: 200px;
  background-color: #f0f0f0;
  padding: 20px;
}

.navigation h2 {
  margin-bottom: 10px;
}

.navigation ul {
  list-style-type: none;
  padding: 0;
}

.navigation li {
  cursor: pointer;
  padding: 8px;
  margin-bottom: 5px;
  background-color: #ddd;
  border-radius: 5px;
}

.content {
  flex: 1;
  padding: 20px;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  min-height: 100vh;
}

#root {
  isolation: isolate;
  min-height: 100vh;

  font-family: var(--base-font-family);
}
