:root {
  --base-font-family: Arial, Helvetica, sans-serif;
}

.app {
  display: flex;
}

.text-column {
  flex: 1;
  padding: 0 20px;
  text-align: left;
}

.profile-image {
  width: 100%;
  max-width: 300px; /* Điều chỉnh kích thước ảnh cá nhân theo ý muốn */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.text-column h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.text-column p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 15px;
}

.content {
  flex: 1;
  padding: 20px;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  min-height: 100vh;
}

#root {
  isolation: isolate;
  min-height: 100vh;

  font-family: var(--base-font-family);
}


